.Cell {
    width: 35px;
    height: 35px;
    border: 1px solid gray;
    background: gray;
    margin: 3px;
}

.Cell:hover {
    cursor: pointer;
}

.Cell-click {
    width: 35px;
    height: 35px;
    border: 1px solid white;
    margin: 3px;
    background: white;
}